*{box-sizing: border-box;}

 body{background-image: url(bgc.jpg); 
background-size: cover;
background-repeat: no-repeat;}

input, select,textarea{width: 300px;
padding: 15px;
margin-top: 10px;
border: 2px solid #1abc9c;
background-color: #fff;
color: #000;
outline: none;
border-radius: 10px;	
}

input::placeholder{color: #000;}

form{width: 700px;
margin: 50px auto;
background-color: #fff;
text-align: center;
padding: 30px;
border-radius: 10px;}

h2{margin: 0;
margin-bottom: 20px;}

legend{text-align: left;
color: #1abc9c;}

fieldset{border-color: #1abc9c;}

label{display: block;
text-align: left;
color: #1abc9c; 
margin-top: 15px;}

.radio{display: inline-block;
color: black;}
input[type=radio],input[type=checkbox]{width: 13px;}

.box{display: inline-block;
margin-bottom: 30px;}

input[type=submit]{color: #fff;
background-color: #16a085;}

input[type=submit]:hover{color: #16a085;
background-color: #fff;
cursor: pointer;}